<h1 class="visually-hidden" tabindex="-1"><%= t('sign_in.title') %></h1>

<div class="login">
  <%= form_tag sessions_path do |form| %>
    <div class="card">
      <div class="card__header card__header--centered">
        <%= image_tag("logo-shield.svg", class: "login__logo") %>
        <span><%= t('title') %></span>
      </div>
      <div class="card__body">
        <% if alert %>
          <div class="error" id="alert" data-alert><%= alert %></div>
        <% end %>
        <div class="text-field">
          <%= label_tag :username, t('username'), class: 'text-field__label' %>
          <%= text_field_tag :username, '', class: 'text-field__input', placeholder: t('sign_in.username_placeholder'), autocomplete: 'username' %>
        </div>
        <div class="text-field">
          <%= label_tag :password, t('password'), class: 'text-field__label' %>
          <%= password_field_tag :password, '', class: 'text-field__input', placeholder: t('sign_in.password_placeholder'), autocomplete: 'current-password' %>
        </div>
      </div>
      <div class="card__footer">
        <div class="card__footer-actions card__footer-actions--align-right">
          <%= submit_tag t('sign_in.sign_in'), class: 'button button--primary' %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="login__footer">
    <% if I18n.locale == :en %>
      <%= link_to t('language_fr'), login_path(locale: 'fr'), class: 'link' %>
    <% else %>
      <%= link_to t('language_en'), login_path(locale: 'en'), class: 'link' %>
    <% end %>
  </div>
</div>
