<div class="modal-backdrop" id="<%= id %>">
  <div
    class="modal"
    aria-labelledby="modal-title-<%= id %>"
    role="dialog"
    aria-modal="true"
    tabIndex="-1"
  >
    <div class="modal__header">
      <h2 id="modal-title-<%= id %>" class="modal__title">
        <%= title %>
      </h2>
      <button
        type="button"
        class="modal__close-button"
        aria-label="Close modal"
        data-modal-close
      >
        <svg class="modal__close-icon" focusable="false" aria-hidden="true"><use xlink:href="#close" /></svg>
      </button>
    </div>
    <div class="modal__body">
      <%= yield %>
    </div>
    <div class="modal__footer">
      <% if local_variables.include?(:footer)%>
        <%= footer %>
      <% else %>
        <button class="button" type="button" data-modal-close>Close</Button>
      <% end %>
    </div>
  </div>
</div>
