<div class="page">
  <main class="page__container">
    <div class="page__header">
      <h1 class="page__title" tabindex="-1"><%= t('users_index.title') %></h1>
      <div class="page__action">
        <%= link_to t('users_index.add_button'), new_user_path, class: 'button button--primary' %>
      </div>
    </div>
    <div class="page__content">
      <div class="index">
        <table class="index__table">
          <thead class="index__header">
            <tr>
              <th class="index__heading" scope="col"><%= t('username') %></th>
              <th class="index__heading" scope="col"><%= t('permissions') %></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr class="index__row">
                <th class="index__cell" scope="row"><%= user.username %></th>
                <td class="index__cell">
                  <% if user.admin %>
                    <%= t('admin') %>
                  <% else %>
                    <%= t('staff') %>
                  <% end %>
                </td>
                <td class="index__cell" width="1">
                  <% if user != current_user %>
                    <%= link_to t('users_index.edit'), edit_user_path(user), class: 'link' %>
                  <% end %>
                </td>
                <td class="index__cell" width="1">
                  <% if user != current_user %>
                    <button class="link" type="button" data-modal-activator="remove-user-<%= user.id %>" aria-haspopup="dialog">
                      <%= t('users_index.remove') %>
                    </button>
                    <% 
                      @footer = capture do
                        link_to t('users_index.remove_user'), user, class: 'button button--primary', method: :delete
                      end
                    %>
                    <%= render 'components/modal', {
                      id: "remove-user-#{user.id}",
                      title: t('users_index.remove_user'),
                      footer: @footer
                    } do %>
                      <p><%= t('users_index.confirm_delete_html', user: user.username) %></p>
                      <p><%= t('users_index.cannot_be_undone') %></p>
                    <% end %> 
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
